.LandingImage {
    height: 400px;
    border-radius: 20px;
}

.Button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    align-self: center;
    border: 2px solid #FB8500;
    padding: 4px 4px;
    margin: auto;
    /* background-image: (rgb(209, 106, 37), orange); */
    text-decoration: none;
    box-shadow: 0px 1px 4px -2px #333;
    color: #023047;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    background-color: #FFB703 !important;
}

.Button:hover:active {
    background-color: #FFB703 !important;
}

.Button:active {
    background-color: #FFB703 !important;
}

.Button:focus {
    background-color: #FFB703;
}

.footer {
    display: flow-root;
    margin-top: 20px;
}

.footer p {
    margin-bottom: 0px;
    padding-top: 5px;
}

/* Adjust landing page image size on smaller screens */
@media all and (max-width: 440px) {
    .LandingImage {
        width: 200px;
        height: 250px;
    }
}